/.env
/helm/api-platform/charts/*
!/helm/api-platform/charts/.gitignore

# next.js
/.next/
/out/
/node_modules
next-env.d.ts

.DS_Store

.devcontainer/

pwa/node_modules
pwa/.env.local
pwa/.env

api/.env
.env.prod
