{
	frankenphp
	servers {
		protocols h1 h2
	}
}

sae-501.leopoldcanou.fr {
	log {
		format filter {
			request>uri query {
				replace authorization REDACTED
			}
		}
	}

	tls {
		protocols tls1.2 tls1.3
	}

	root * /app/public
	encode zstd br gzip

	vulcain

	# Add links to the API docs and to the Mercure Hub if not set explicitly (e.g. the PWA)
	header ?Link `</docs.jsonld>; rel="http://www.w3.org/ns/hydra/core#apiDocumentation", </.well-known/mercure>; rel="mercure"`
	# Disable Topics tracking if not enabled explicitly: https://github.com/jkarlin/topics
	header ?Permissions-Policy "browsing-topics=()"

	# Matches requests for HTML documents, for static files and for Next.js files,
	# except for known API paths and paths with extensions handled by API Platform
	@pwa expression `(
			header({'Accept': '*text/html*'})
			&& !path(
				'/docs*', '/graphql*', '/bundles*', '/contexts*', '/_profiler*', '/_wdt*',
				'*.json*', '*.html', '*.csv', '*.yml', '*.yaml', '*.xml'
			)
		)
		|| path('/favicon.ico', '/manifest.json', '/robots.txt', '/sitemap*', '/_next*', '/__next*')
		|| query({'_rsc': '*'})`

	# Redirect matching requests to Next.js
	reverse_proxy @pwa http://{$PWA_UPSTREAM}

	# Handle PHP fallback
	php_server
}